*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.footer{
    background-color: rgb(37, 39, 46) !important;
}

.fa-facebook-official , .fa-whatsapp, .fa-instagram{
    font-size: 30px !important ;
    text-decoration: none;
    color: white;
}
.card{
    margin-bottom: 5px;
}